<script>
    function setup() {
        formatFiles()
        setChildInputListener()
        setConnectButton()
    }

    function formatFiles() {
        let files = document.getElementsByClassName('file')
        for(let file of files) {
            file.innerHTML = file.innerHTML.split('/').splice(-1)[0]
        }
    }

    function setConnectButton() {
        console.log(document.getElementById('connectButton').classList)
        if(document.getElementById('connectButton').classList.contains('failure')) {
            alert('/!\\ Couldn\'t get a connection to the scheduler service /!\\');
        }else if(document.getElementById('connectButton').classList.contains('True')) {
            document.getElementById('connectButton').innerHTML = 'Connected'
            document.getElementById('connectButton').classList.remove('btn-danger');
            document.getElementById('connectButton').classList.add('btn-success');
        }else{
            document.getElementById('connectButton').innerHTML = 'Disconnected'
            document.getElementById('connectButton').classList.remove('btn-success');
            document.getElementById('connectButton').classList.add('btn-danger');
        }
    }

    function setChildInputListener() {
        document.getElementById('id_is_child').addEventListener('click', ()=>{alterForm()})
    }

    function setDependencyOptions(PKs, ownPK) {
        console.log(PKs)
        console.log(ownPK)
        PKsToWrite = PKs
            .map(pk => parseInt(pk) !== ownPK ? parseInt(pk) : null)
            .filter(pk => pk !== null)
        console.log(PKsToWrite)
        let dependency = ''
        PKsToWrite.forEach(pk => dependency += '<option value="' + pk + '">' + pk + '</option>')
        document.getElementById('id_dependency').innerHTML = dependency
        {#document.getElementById('id_dependency').setAttribute('multiple', '')#}
    }

    function prepareSend() {
        document.getElementById('id_date').disabled = false
        document.getElementById('id_time').disabled = false
        document.getElementById('id_label').disabled = false
        document.getElementById('id_cyclic_on').disabled = false
        document.getElementById('id_interval').disabled = false
        document.getElementById('id_dependency').disabled = false
    }

    function alterForm(info) {
        if (info === void 0) {
            checkboxValue = document.getElementById('id_is_child').checked
            document.getElementById('id_date').disabled = checkboxValue
            document.getElementById('id_time').disabled = checkboxValue
            document.getElementById('id_cyclic_on').disabled = checkboxValue
            document.getElementById('id_interval').disabled = checkboxValue
            document.getElementById('id_dependency').disabled = !checkboxValue
        } else {
            document.getElementById('id_date').disabled = false
            document.getElementById('id_time').disabled = false
            document.getElementById('id_cyclic_on').disabled = false
            document.getElementById('id_interval').disabled = false
            document.getElementById('id_dependency').disabled = true
        }
    }

		/*
		if info.pk < 0 then :
			launch modal as a create task modal
			clear modal fields
		else
			launch modal an edit task modal
			fill modal fields with info
		*/
		function setModalData(info) {
		    setDependencyOptions(info.pks, info.pk)
			document.getElementById('id_option').style.display = 'none';
			document.querySelector("label[for=id_option]").style.display = 'none';
			try {
				document.querySelector(".errorlist").style.display = 'none';
			} catch (e) {}
			if (info.pk < 0) {
			    //create section
				document.getElementById('saveButton').style.display = 'none';
				document.getElementById('removeButton').style.display = 'none';
				document.getElementById('createButton').style.display = 'block';
				document.getElementById('id_file').style = ''
				document.getElementById('id_date').value = getCurrentDate()
                document.getElementById('id_time').value = getCurrentTime()
				document.getElementById('id_label').value = '';
				document.getElementById('id_cyclic_on').value = '';
				document.getElementById('id_interval').value = 1
				document.getElementById('id_option').value = 0;
				document.getElementById('id_is_child').checked = false

                //console.log(currentDate)
                //console.log(currentYear_Month_Day)
                //console.log(currentTime)

			} else {
			    // edit section
			    try {
			        document.getElementById('saveButton').style.display = 'block';
				    document.getElementById('removeButton').style.display = 'block';
				    document.getElementById('createButton').style.display = 'none';
				    document.getElementById('id_file').value = info.file;
				    document.getElementById('id_date').value = formatDate(info.date);
				    document.getElementById('id_time').value = formatTime(info.time);
				    document.getElementById('id_label').value = info.label;
				    document.getElementById('id_cyclic_on').value = info.cyclic_on;
				    document.getElementById('id_interval').value = info.interval;
				    document.getElementById('id_option').value = info.pk;
				    document.getElementById('id_is_child').checked = info.is_child;
				    document.getElementById('id_dependency').value = info.dependency;
                } catch (e) { }
			}
            alterForm(info)
		}

		function setRemoveInfo() {
			document.getElementById('id_option').value = -1 * document.getElementById('id_option').value;
		}


		function getCurrentDate() {
		    const currentDate = new Date();
		    let monthAdjuster = '';
            let dayAdjuster = '';
            if (currentDate.getMonth()+1<10) {
                monthAdjuster = '0'
            }
            if(currentDate.getDate()<10) {
                dayAdjuster = '0'
            }

            date = '' + currentDate.getFullYear()
                    + '-'
                    + monthAdjuster
                    + (currentDate.getMonth()+1)
                    + '-'
                    + dayAdjuster
                    + currentDate.getDate();
            return date
        }

        function getCurrentTime() {
		    return new Date()
                    .toString()
                    .split(' ')[4]
                    .slice(0, -3);
        }

		function formatDate(date) {
			const dateParts = date.split(' ');
			const months = {
			    'January': '01',
                'February': '02',
                'March': '03',
                'April': '04',
                'May': '05',
                'June': '06',
                'July': '07',
                'August': '08',
                'September': '09',
                'October': '10',
                'November': '11',
                'December': '12'
			};
			let d = dateParts[1].replace(',', '');
			if (d.length < 2) {
				d = '0' + d;
			}
			let m = months[dateParts[0]];
			let y = dateParts[2];
			return y + '-' + m + '-' + d;
		}

		function formatTime(time) {
			const timeParts = time.split(' ');
			const h_m = timeParts[0].split(':');
			if (timeParts[1] === 'p.m.' && h_m[0] !== '12') {
				h_m[0] = ''+(parseInt(h_m[0])+12);
			} else if (timeParts[1] === 'a.m.' && h_m[0] === '12') {
				h_m[0] = ''+(parseInt(h_m[0])-12);
			}
			if (h_m[0].length < 2) {
				h_m[0] = '0' + h_m[0];
			}
			return h_m[0] + ':' + h_m[1];
		}

		if (window.history.replaceState) {
			window.history.replaceState(null, null, window.location.href);
		}
</script>
