	<table class="table">
		<thead>
			<tr>
                <th scope="col">Executable File</th>
				<th scope="col">Time</th>
				<th scope="col">Date</th>
				<th scope="col">Label</th>
				<th scope="col">Cyclic on</th>
				<th scope="col">State</th>
                <th scope="col">Child</th>
                <th scope="col">ID</th>
				<th scope="col">Edit</th>
			</tr>
		</thead>
			<tbody>
				{% for task in tasks %}
					<tr>
						<th class="file" scope="row">{{ task.file }}</th>
                        <td>{{ task.time }}</td>
						<td>{{ task.date }}</td>
						<td>{{ task.label }}</td>
						<td>{{ task.cyclic_on }}</td>
						<td>{{ task.state }}</td>
                        <td>{{ task.is_child }}</td>
						<td>{{ task.pk }}</td>

						<td> 
							<button 
							type="button" 
							class="btn btn-primary" 
							data-toggle="modal" 
							data-target="#editTaskModal"
							onclick="setModalData({
                                        file: '{{ task.file }}',
										time: '{{ task.time }}',
										date: '{{ task.date }}',
										label: '{{ task.label }}',
										cyclic_on: '{{ task.cyclic_on }}',
                                        interval: {{ task.interval }},
                                        is_child: '{{ task.is_child }}',
										pk: {{ task.pk }},
                                        pks: [{% for task in tasks %} '{{ task.pk }}', {% endfor %}]
										})">Edit</button> 
						</td>
					</tr>
				{% endfor %}
			<tr>
				<th scope="row"></th>
                <td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
                <td></td>


				<td> 
					<button 
					type="button" 
					class="btn btn-success"
					data-toggle="modal" 
					data-target="#editTaskModal"
					onclick="setModalData({
								pk: -1,
								pks: [{% for task in tasks %} '{{ task.pk }}', {% endfor %}]
								})">New task</button>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit task</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="POST" class="form-group">{% csrf_token %}
					<div class="modal-body">
						{{ form.as_p }}		
					</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="submit" value="remove" id="removeButton" class="btn btn-danger" onclick="setRemoveInfo(); return confirm('Are you sure you wish to delete?');">Remove</button>
							<button type="submit" value="save" id="saveButton" class="save btn btn-primary" >Save</button>
							<button type="submit" value="create" id="createButton" class="btn btn-primary" onclick="prepareSend()">Create</button>
					  </div>
				</form>
			</div>
		</div>
	</div>


